@import "tailwindcss";

* {
  box-sizing: border-box;
  /* transition: color 0.5s;
  transition: height 0.3s ease-in-out, color 0.5s ease-in-out, background-color 0.5s ease-in-out; */
}

/* Hide scrollbars for all elements while maintaining scroll functionality */
* {
  /* -ms-overflow-style: none; IE and Edge */
  /* scrollbar-width: none; Firefox */
}

/* Hide scrollbars for Chrome, Safari and Opera */
.sideBar-menu::-webkit-scrollbar {
  display: none;
}

/* "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", */
body {
  /* background-color: #2186d4; */
  font-family: Helvetica !important;
  /* transition: background-color 600ms; */
  /* font-weight: 300; */
}

.layout.show-grid.darkmode {
  background-color: #161515;
  /* Base background for the empty space */
  background-image:
    /* Vertical lines: 1px lightgray, then transparent */ linear-gradient(
      to right,
      rgb(111, 106, 106) 1px,
      transparent 10px
    ),
    /* Horizontal lines: 1px lightgray, then transparent */
      linear-gradient(to bottom, rgb(93, 88, 88) 1px, transparent 10px);

  background-size: calc(var(--col-width)) calc(40px);

  background-position: 0 0;

  transition: background-image 0.2s ease-in-out;
  transition-property: background-color, color;
  transition-duration: 0.6s;
  transition-timing-function: ease-in-out;
}

.layout.show-grid {
  background-color: #f0f0f0;
  /* Base background for the empty space */
  background-image:
    /* Vertical lines: 1px lightgray, then transparent */ linear-gradient(
      to right,
      lightgray 1px,
      transparent 10px
    ),
    /* Horizontal lines: 1px lightgray, then transparent */
      linear-gradient(to bottom, lightgray 1px, transparent 10px);

  background-size: calc(var(--col-width)) calc(40px);

  background-position: 0 0;

  transition: background-image 0.2s ease-in-out;
  transition-property: background-color, color;
  transition-duration: 0.6s;
  transition-timing-function: ease-in-out;
}

.react-grid-placeholder {
  background: transparent !important;
  border: 3px dashed #3b82f6;
  opacity: 0.4 !important;
  transition: all 0.2s;
  border-radius: 8px;
}

.grabbable {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.grabbable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.widget-content {
  border-radius: 5px;
  scroll-padding-top: 10px;
}

.widget-content::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  /* margin-top: 10px; */
}

.widget-content::-webkit-scrollbar-button {
  display: none;
}

.widget-content::-webkit-scrollbar-thumb {
  background-color: #1c75bc;
  border-radius: 10px;
  width: 10px;
  height: 10px;
  margin-top: 10px;
}

/* .widget::-webkit-scrollbar-thumb:horizontal {
 width: 3pc;
} */

.widget-content::-webkit-scrollbar-track {
  background-color: #d9d9d980;
  height: 10px;
  border-radius: 10px;
}

.compliance-view::after {
  content: "";
  /* height: 10px;
  width: 10px; */
  /* background-color: #3b82f6; */
  position: absolute;
  top: 0;
  right: 22%;
  transform: translateY(-100%);
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid white;
  /* rounded line */
}

/* Optional: in global styles */
* {
  transition-property: background-color, color;
  transition-duration: 0.6s;
  transition-timing-function: ease-in-out;
}

.menu-items-nav::-webkit-scrollbar {
  width: 10px;
}

.menu-items-nav::-webkit-scrollbar-button {
  display: none;
}
/* .img {
  transition-duration: 0.6s;
  transition-property: background-color, color;
  transition-timing-function: ease-in-out;
} */
